{% extends "base.html" %}
{% load static %}
{% block content %}

<!--Main section-->
<main class="container-lg">
    <div class="row">

        <!-- Heading -->
        <section>
            <h2>Curling Network</h2>
        </section>

        <div class="div-sec">
            <p>
                Here you will find contact details for England's growing curling club network.
            </p>
            <p>
                To connect with our friends in Scotland, birthplace of curling, please see: <a
                    href=" https://www.scottishcurling.org/" target="_blank" rel="noopener"
                    aria-label="Visit Scottish Curling website (opens in a new tab)">Scottish Curling</a>
            </p>
        </div>

        <!-- Club details section-->
        {% for network in object_list %}
        <div class="text-center">
            <div class=" row row-cols-1 row-cols-md-2">
                <div class="col network-blue text-center text-md-end">Club Name:</div>
                <div class="col network-green text-center text-md-start">{{network.club_name}}</div>
            </div>
        </div>

        <div class="text-end">
            <div class=" row row-cols-1 row-cols-md-2">
                <div class="col network-blue text-center text-md-end">Location:</div>
                <div class="col text-start network-green text-center text-md-start">{{network.location}}</div>
            </div>
        </div>

        <div class="text-end">
            <div class=" row row-cols-1 row-cols-md-2">
                <div class="col network-blue text-center text-md-end">Website:</div>
                <div class="col text-start network-green text-center text-md-start"><a href="{{network.website}}"
                        target="_blank" rel="noopener"
                        aria-label="All fictional clubs link to the British Curling website (opens in a new tab)"><a
                            href={{network.website}} target="_blank" rel="noopener">British Curling</a></a>
                </div>
            </div>
        </div>

        <div class="text-end">
            <div class=" row row-cols-1 row-cols-md-2">
                <div class="col network-blue text-center text-md-end">Email:</div>
                <div class="col text-start network-green text-center text-md-start">{{network.email}}</div>
            </div>
        </div>

        <div class="text-end">
            <div class=" row row-cols-1 row-cols-md-2">
                <div class="col network-blue text-center text-md-end">Wheelchair access:</div>
                <div class="col text-start network-green text-center text-md-start">{{network.wheelchair_access}}</div>
            </div>
        </div>

        <div class="text-center break-div">
            <div class="row">
                <div class="col network-stars">* * * * *</div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock content %}