{% extends "base.html" %}
{% load static %}

{% block content %}

<!--Intro section-->
<section class="container-fluid">
    <p>
        Founded in 2010, we are based at Camden Ice Rink where curlers of all ages, backgrounds and abilities are always
        welcome.
    </p>
    <p>
        The curling season runs from October to March and during this period we hold practice sessions every Tuesday and
        Thursday evening, with league games taking place every Sunday.
    </p>

</section>

<!--Information section-->
<section class="container-fluid">
    For more information, please register to access our member's hub where you can make bookings, upload images to the
    gallery and connect with other curling clubs.

</section>


{% endblock content %}
