{% extends "base.html" %}
{% load static %}

{% block content %}

<!--Intro section-->
<section class="container-fluid">
    <p>
        Founded in 2010, we are based at Camden Ice Rink where curlers of all ages, backgrounds and abilities are always
        welcome.
    </p>
    <div class="image-div">
        <img
          src="static/images/stones-shape.webp"
          alt="Red and yellow tagged curling stones around the centre target">
      </div>
    <p>
        The curling season runs from October to March and during this period we hold practice sessions every Tuesday and
        Thursday evening, with league games taking place every Sunday.
    </p>
    <div class="image-div">
        <img
          src="static/images/curling-action.webp"
          alt="Three playeers scraping the ice as their stone nears the target">
      </div>
</section>

<!--Information section-->
<section class="container-fluid">
    For more information, please register to access our member's hub where you can make bookings, upload images to the
    gallery and connect with other curling clubs.

</section>


{% endblock content %}
