{% extends "base.html" %}
{% load static %}

{% block content %}

<!--Intro section-->
<section class="container-fluid">
    <h2>About Us</h2>
    <p>
        Founded in 2010, we are based at Camden Ice Rink where curlers of all ages, backgrounds and abilities are always
        welcome.
    </p>
    <div class="image-div">
        <img
          src="static/images/stones-shape.webp"
          alt="Red and yellow tagged curling stones around the house (target)">
      </div>
      <h2>Activities</h2>
      <p>
        The curling season runs from October to March and during this period we hold practice sessions every Tuesday and
        Thursday evening, with league games taking place every Sunday.
    </p>
    <div class="image-div">
        <img
          src="static/images/wheelchair-curlers.webp"
          alt="Two wheelchair curlers pushing a stone with other players in the background.">
      </div>
</section>

<!--Information section-->
<section class="container-fluid">
    <h2>Join Us</h2>
    <p>For more information, please register to access our member's hub where you can make bookings, upload images to the
    gallery and connect with other curling clubs.
    </p>
</section>


{% endblock content %}
