{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<!--Main section-->
<main>

    <!--Intro section-->
    <section>
        <h2>My Pictures</h2>
    </section>

    <section>
        <p>View, amend or delete your pictures here.</p>
    </section>

    <!-- Display current user's pictures -->
    <section>
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
            {% for galleryimage in user_pictures %}
            <div class="col">
                <div class="card h-100">
                    <!-- image -->
                    <img src="{{ galleryimage.gallery_image.url }}" alt="{{galleryimage.caption}}"
                        class="card-img-top img-fluid">

                    <!-- image caption / details -->
                    <div` class="card-body text-center">
                        <h5 class="card-title">{{galleryimage.caption}}</h5>
                        <p class="card-text">Added by {{galleryimage.username}} on {{galleryimage.added_on}}</p>
                    </div>

                    <div class="card-footer">
                        <!-- Edit or Delete pictures section -->
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <a href="{% url 'edit_caption' galleryimage.id %}" class="btn btn-success">Edit</a>
                            </div>
                            <div class="col-12 col-md-6">
                                <a href="{% url 'delete_picture' galleryimage.id %}" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </section>

</main>

{% endblock content %}