{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="gallery-div">

  <!--Intro section-->
  <section>
    <h2>Members' Gallery</h2>
    <p>Share your curling ups and downs by uploading your latest pictures here.</p>
  </section>

  <!--Upload image and caption with crispy forms-->
  <section>
    <div class="card mb-3 mt-3">
      <div>
        <h3> Upload image:</h3>
        <form method="post" style="margin-top: 1.3em;" enctype="multipart/form-data">
          {{ gallery_form | crispy }}
          <!--A csrf_token tag is required for each form-->
          {% csrf_token %}
          <button type="submit" class="btn btn-lav mb-3">Submit</button>
        </form>
      </div>
    </div>
  </section>

  <!-- Link to My Pictures page -->
  <section>
    <h4>View, change or delete your pictures here:</h4>
    <div>
      <a href="{% url 'my_pictures' %}" class="btn btn-lg btn-lav mb-3 mt-3">My Pictures</a>
    </div>
  </section>

  <section>
    <h4>
      See all members' pictures here:
    </h4>
  </section>

  <!-- Display all gallery images -->
  <section>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      {% for galleryimage in gallery_images %}
      <div class="col">
        <div class="card h-100">
          <!-- image -->
          <img src="{{ galleryimage.gallery_image.url }}" alt="{{galleryimage.caption}}" class="card-img-top img-fluid">

          <!-- image caption / details -->
          <div class="card-body text-center">
            <h5 class="card-title">{{galleryimage.caption}}</h5>
            <p class="caption-add card-text">Caption added/updated by {{galleryimage.username}} on
              {{galleryimage.caption_updated_on|date:"j/m/y"}}</p>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </section>
</div>
{% endblock content %}