{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<!--Main section-->
<main>

  <!--Intro section-->
  <section>
    <h2>My Pictures</h2>
  </section>

  <section>
    <p>View, amend or delete your pictures here.</p>
  </section>

  <!-- Display current user's pictures -->
  <section class="card">
    <form>
      {% for galleryimage in user_pictures %}
      <div class="text-start">
        <div class="row row-cols-12">
          <img src="{{ galleryimage.gallery_image.url }}" alt="{{galleryimage.caption}}" class="img-fluid">
        </div>
      </div>
      <div class="text-center">
        <div class="row row-cols-12">
          <p>{{galleryimage.caption}}</p>
        </div>
      </div>
      <div class="text-center">
        <div class="row row-cols-12">
          <p>Added by {{galleryimage.username}} on {{galleryimage.added_on}}</p>
          <p>Caption updated by {{galleryimage.username}} on {{galleryimage.caption_updated_on}}</p>
        </div>
      </div>

      <!-- Edit or Delete pictures section -->
      <section>
        <div class="row row-cols-2">
          <div class="text-end">
            <a href="{% url 'edit_caption' galleryimage.id %}" class="btn btn-success">Edit</a>
          </div>
          <div class="text-start">
            <a href="{% url 'delete_picture' galleryimage.id %}">
              <button type="button" class="btn btn-danger" type="submit">Delete</button></a>
          </div>
          
        <!-- Modal ends here -->
        </div>

      </section>

      {% endfor %}
    </form>
  </section>

</main>

{% endblock content %}