{% extends "base.html" %}
{% load static %}

{% block content %}
<!--Main section-->
<main class="container-lg">
    <div class="row">

        <!--Intro section-->
        <section>
            <h2>FAQs</h2>
        </section>

        <!-- Q & A section -->
        <div class="text-start div-sec">
            {% for faq in object_list %}
            <p class="question">Q: {{faq.question}}</p>
            <p class="answer">A: {{faq.answer}}<p>
                    {% endfor %}
        </div>
    </div>
</main>
{% endblock content %}