/* Wildcard selector to override browser default styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,
h2 {
  font-weight: 600;
  color: rgb(10, 13, 17);
}

p {
  font-weight: 600;
  padding: 0 0 5px 0;
  color: rgb(10, 13, 17);
}


header {
  background-color: rgb(173, 187, 250);
}

body>footer {
  position: sticky;
  top: 100vh;
}

main {
  width: 85%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding: 10px 0px;
}

/*Navigation*/
.nav-link:hover,
.nav-link:active {
    color: blue;
    text-decoration: underline;
}

/*Test Styles*/
/*Delete test-container when all pages have had main styling added.*/
/*.test-container {
  width: 85%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}*/

#msg {
  background-color: rgb(231, 62, 180);
}




/*End of Test Styles*/

.break-div {
  padding: 10px 0px;
}


/*Images*/
img {
  height: 80%;
  width: 80%;
}

.image-div {
  text-align: center;
  padding: 10px 0 10px;
}


/*Bookings page*/
.sheets {
  color: blue;
}

/*faq_list.html*/

.question {
  color: blue;
}

.answer {
  color: green;
}


/* Footer */
footer,
p {
  margin-bottom: .1rem;
}

footer {
  background-color: rgb(173, 187, 250);
}

#social-networks {
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
}

#social-networks i {
  font-size: 140%;
  padding: 5%;
  color: #000000;
}

#last-line {
  font-weight: 300;
}

#signup_form ul {
  display: none;
}
/* Media Queries */

/* Tablets and larger (768px and higher) */
@media screen and (min-width: 768px) {

  /* Images */
  img {
    height: 60%;
    width: 60%;
  }

}