/* Wildcard selector to override browser default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
html,
body {
    height: 100%;
}

body {
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }


header {
    background-color: rgb(126, 145, 230);
}

body>footer {
    position: sticky;
    top: 100vh;
}




/* Footer */
.footer, p {
    margin-bottom: .1rem;
}

footer {
  background-color: rgb(126, 145, 230);
}

#social-networks {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    }

  #social-networks i {
    font-size: 140%;
    padding: 5%;
    color: #000000;
  }

