{% extends "base.html" %}
{% load static %}

{% block content %}

<!--Main section.-->
<main>

    <!--Intro section.-->
    <section>
        <h2>Practice Session Bookings</h2>
        <p>Make your bookings here.</p>
    </section>

    <section>
        {% for booking in object_list %}
        <h2>{{booking.username}}</h2>
        <h2>{{booking.date}}<h2>
        <h2>{{booking.session}}<h2>
        <h2>{{booking.wheelchair_lane}}<h2>
        {% endfor %}
    </section>

</main>
{% endblock content %}