{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<!--Main section-->
<main>

  <!--Intro section-->
  <section>
    <h2>My Bookings</h2>
  </section>

   <!--Current user's bookings section-->
  <!-- Heading -->
  <section>
    <h2>My Bookings</h2>
  </section>

  <!-- The data below shows the bookings made by the current user but the Edit and Cancel buttons are not an
  active part of the form. How do I 'link' these since the form draws upon the model and buttons are not
  a data field? Or should it be that weh I click on Edit, it takes me to the form again? -->
  
  <section>
    The data below shows the bookings made by the current user but the Edit and Cancel buttons are not an
    active part of the form. How do I 'link' these since the form draws upon the model and buttons are not
    a data field? Or should it be that weh I click on Edit, it takes me to the form again?
  </section>

  <!-- List of bookings -->
  <section class="card">
    <form>
      {% for booking in user_booking %}
      <div class="text-start">
        <div class="row row-cols-3">
          <div class="col-3"></div>
          <div class="col-3">Date:</div>
          <div class="col-6">{{booking.date}}</div>
        </div>
      </div>

      <div class="text-start">
        <div class="row row-cols-3">
          <div class="col-3"></div>
          <div class="col-3">Sheet / Time:</div>
          <div class="col-6">{{booking.sheet_time}}</div>
        </div>
      </div>

      <div class="text-start">
        <div class="row row-cols-3">
          <div class="col-3"></div>
          <div class="col-3">Wheelchair Sheet:</div>
          <div class="col-6">{{booking.wheelchair_sheet}}</div>
        </div>
      </div>

      <!-- Edit or Cancel bookings section -->
      <section>
        <div class="text-start">
          <div class="row row-cols-3">
            <div class="col-3"></div>
            <div class="col-3">
              <button type="button" class="btn btn-success" type="submit">Edit</button>
            </div>
            <div class="col-6">
              <button type="button" class="btn btn-danger" type="submit">Cancel</button>
            </div>
          </div>
        </div>

      </section>

      <div class="text-center break-div">
        <div class="row">
          <div class="col">* * * * *</div>
        </div>
      </div>

      {% endfor %}
    </form>
  </section>

</main>
{% endblock content %}