{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<!--Main section-->
<main>

  <!-- Heading -->
  <section>
    <h2>My Bookings</h2>
  </section>

  <!-- Current user's bookings -->
  <section class="card">
    <form>
      {% for booking in user_booking %}
      <div class="text-start">
        <div class="row row-cols-3">
          <div class="col-3"></div>
          <div class="col-3">Date:</div>
          <div class="col-6">{{booking.date}}</div>
        </div>
      </div>

      <div class="text-start">
        <div class="row row-cols-3">
          <div class="col-3"></div>
          <div class="col-3">Sheet / Time:</div>
          <div class="col-6">{{booking.sheet_time}}</div>
        </div>
      </div>

      <div class="text-start">
        <div class="row row-cols-3">
          <div class="col-3"></div>
          <div class="col-3">Wheelchair Sheet:</div>
          <div class="col-6">{{booking.wheelchair_sheet}}</div>
        </div>
      </div>

      <!-- Edit or Cancel bookings section -->
      <section>
        <div class="text-start">
          <div class="row row-cols-3">
            <div class="col-3"></div>
            <div class="col-3">            
              <a href="{% url 'edit_booking' booking.id %}" class="btn btn-success">Edit</a>
            </div>
            <div class="col-6">
              <button type="button" class="btn btn-danger" data-toggle="modal"
                data-target="#cancel-modal-{{ booking.id }}">Cancel</button>
              <!-- Modal to confirm cancel booking  -->
              <div class="modal fade" id="cancel-modal-{{ booking.id }}" tabindex="-1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Cancel booking?</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you want to cancel this booking?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>                    
                        <a href="{% url 'delete_booking' booking.id %}" class="btn btn-primary">Cancel Booking</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="text-center break-div">
        <div class="row">
          <div class="col">* * * * *</div>
        </div>
      </div>

      {% endfor %}
    </form>
  </section>


</main>
{% endblock content %}