{% load static %}

{% url 'bookings' as bookings_url %}
{% url 'faqs' as faqs_url %}
{% url 'gallery' as gallery_url %}
{% url 'home' as home_url %}
{% url 'network' as network_url %}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camden Curling Club</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <h1>This is text from base.html.</h1>

    {% block content %}
        <!-- Content goes here -->
    {% endblock content %}

</body>

</html>