/* Wildcard selector to override browser default styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,
h2, h3, h4 {
  font-weight: 600;
  color: rgb(10, 13, 17);
}

p {
  font-weight: 600;
  padding: 0 0 5px 0;
  color: rgb(10, 13, 17);
}

header {
  background-color: rgb(173, 187, 250);
}

body>footer {
  position: sticky;
  top: 100vh;
}

section {
  padding: 10px 0px;
}

.div-sec {
  padding: 10px 0px;
}

/*Navigation*/
.nav-item {
  font-weight: 600;
}

.nav-link:hover,
.nav-link:active {
  color: blue;
  text-decoration: underline;
}

#msg {
  background-color: rgb(238, 129, 205);
  font-weight: 600;
}

/* Buttons */
.btn-lav {
  background: rgb(173, 187, 250);
  color:  rgb(10, 13, 17);
  border: none;
  font-weight: 600;
}

.btn-lav:hover {
  background: rgb(238, 129, 205);
  color:  white;
  border: none;
  font-weight: 600;
}

.btn-pink {
  background: rgb(238, 129, 205);
  color:  rgb(10, 13, 17);
  border: none;
  font-weight: 600;
}

.btn-pink:hover {
  background: rgb(173, 187, 250);
  color:   white;
  border: none;
  font-weight: 600;
}

/* Registration form */
#signup_form input {
  width: 100%;
}

#signup_form ul {
  display: none;
}

.btn-bold {
  font-weight: 700;
}

/*Images*/
img {
  height: 80%;
  width: 80%;
  border-radius: 8px;
}

.image-div {
  text-align: center;
  padding: 10px 0 10px;
}

/*Bookings page*/
.sheets {
  color: blue;  
}

.bookings-div {
  width: 90%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* My Bookings page */
.break-div {
  padding: 0 0 10px;
}

.booking-date {
font-weight: 600;
}

/*FAQs page*/
.question {
  color: blue;
}

.answer {
  color: green;
}

/* Gallery page */
.gallery-div {
  width: 90%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.caption-add {
  padding: 0 0 10px 0;
  font-size: .8em;
  font-weight: 400;
}

.date-div {
  padding: 0 0 30px 0;
}

/* Network page */
.network-blue {
  color: blue;
  font-weight: 600;
}

.network-green {
  color: green;
  font-weight: 600;
}

.network-stars {
  color:rgb(10, 13, 17);
  font-weight: 700;
}

/* Footer */
footer,
p {
  margin-bottom: .1rem;
}

footer {
  background-color: rgb(173, 187, 250);
}

#social-networks {
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
}

#social-networks i {
  font-size: 140%;
  padding: 5%;
  color: #000000;
}

#last-line {
  font-weight: 300;
}

/* Media Queries */

/* Tablets and larger (768px and higher) */
@media screen and (min-width: 768px) {

  /* Site Images */
  img {
    height: 90%;
    width: 90%;
  }

  #image-1 {
    padding: 35px 0 10px;
  }

  /* Register button */
  .btn-lav-md {
    background: rgb(173, 187, 250);
    color:  rgb(10, 13, 17);
    border: none;
    font-weight: 600;
  }
  
  .btn-lav-md:hover {
    background: rgb(238, 129, 205);
    color:  white;
    border: none;
    font-weight: 600;
  }

}